@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;


}
body { width: 960px;}

body {
	background-attachment: fixed;
	background-image: url("images/fight-club-background.png");
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 3em;
	margin-right: 20em;;
}

main {
height: 350px;
width: 600px;
float: left;
border-right: 2px solid red:}




figcaption {
	color: #566D58;
	font-size: .8em;
	font-style: italic;
	text-align: center;
}



h1, h2, h3 {
	font-family: 'Barriecito', cursive;
	text-transform: uppercase;
	text-shadow: #7A0D05 2px 2px 4px;
}
	


h1 {
	font-size: 2.5em;
	
	}



h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;

}

main.full-width {
	float: none;
	max-width: 100%;
}

#photo,
#popular-works-photo {
	float: left;
	max-width: 25%;
}

table tr:nth-child(even) {
	background-color: rgba(122, 13, 5, .2);
}

.album-art {

	border: 2px solid red;
	padding: 20px;
	float: left;
	margin-right: 30px;
}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {

	border: 2px solid red;
	padding: 20px;
	float: left;
	margin-right: 30px;

	
}

.record-label {

}

.track-list {

}

#about-photo {

	border: 2px solid red;
	padding: 20px;
	float: left;
	margin-right: 20px;
}



#section-about, #section-discography, #section-equipment {

}

#text-intro {
	
	
	border: 2px solid red;
	padding: 20px;
	
{
	border: 2px dotted red;
	max-width: 100%;
}
img {
float: left;
margin-left: 30px;

}
footer
#copyright, #citations {
	color: red;
	font-size: .8em;
	padding: 1em;
}